{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html>
  <head>
    <title>Baby Brackets</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/navbar.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//babybrackets.000webhostapp.com/piwik/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Piwik Code -->

  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand" href="#">
              <span><img src="{{ url_for('static', filename='img/logo.png') }}"></span>
              Baby Brackets
            </div>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li role="presentation"
              {% if active_page == 'index' %}
                class="active" ><a href="#">Home</a>
              {% else %}
                ><a href="{{ url_for('index') }}">Home</a>
              {% endif %}
              </li>
              <li role="presentation"
              {% if active_page == 'howto' %}
                class="active" ><a href="#">How It Works</a>
              {% else %}
                ><a href="{{ url_for('howto') }}">How It Works</a>
              {% endif %}
              </li>
              {% if g.user.is_authenticated %}
                <li role="presentation"
                {% if active_page == 'create' %}
                  class="active" ><a href="#">Create</a>
                {% else %}
                  ><a href="{{ url_for('create') }}">Create</a>
                {% endif %}
                </li>
                <li role="presentation" class="dropdown {% if active_page == 'edit' and parent_flag %}active{% endif %}">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    My Bracket Pools <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    {% for bracket in g.user.parent_brackets.filter_by(user_id=None) %}
                      <li><a href="{{ url_for('edit', bracket_hash=hashidEncode(bracket.id)) }}">{{ bracket.name }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
                <li role="presentation" class="dropdown {% if active_page == 'edit' and not parent_flag %}active{% endif %}">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    My Brackets <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    {% for bracket in g.user.user_brackets %}
                      <li><a href="{{ url_for('edit', bracket_hash=hashidEncode(bracket.id)) }}">{{ bracket.name }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
                <li role="presentation">
                  <a href="{{ url_for('logout') }}">Logout</a>
                </li>
              {% else %}
                <li role="presentation"
                {% if active_page == 'register' %}
                  class="active" ><a href="{{ url_for('register') }}">Sign Up</a>
                {% else %}
                  ><a href="{{ url_for('register') }}">Sign Up</a>
                </li>
                {% endif %}
                <li role="presentation"
                {% if active_page == 'login' %}
                  class="active" ><a href="{{ url_for('login') }}">Login</a>
                {% else %}
                  ><a href="{{ url_for('login') }}">Login</a>
                </li>
                {% endif %}
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="container">
      <div class="container-fluid">
        <div class="row">
          {% block content %}{% endblock %}
        </div>
      </div>

      <footer class="footer">
        <div class="container-fluid">
          <p class="text-muted">Baby Brackets 2022  <a href="mailto:baby.brackets@gmail.com"> Contact Us</a></p>
        </div>
      </footer>
    </div>
  </body>
</html>
