{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html>
  <head>
    <title>Baby Brackets</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- <link href="/static/css/selectize.css" rel="stylesheet"> -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <script src="/static/js/selectize.js"></script> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  <body>
    <div class="container-fluid">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"
            {% if active_page == 'index' %}
              class="active" ><a href="#">Home</a>
            {% else %}
              ><a href="{{ url_for('index') }}">Home</a>
            {% endif %}
            </li>
            {% if g.user.is_authenticated %}
              <li role="presentation"
              {% if active_page == 'create' %}
                class="active" ><a href="#">Create</a>
              {% else %}
                ><a href="{{ url_for('create') }}">Create</a>
              {% endif %}
              </li>
              <li role="presentation" class="dropdown {% if active_page == 'edit' and parent_flag %}active{% endif %}">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                  My Brackets <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  {% for bracket in g.user.parent_brackets.filter_by(user_id=None) %}
                    <li><a href="{{ url_for('edit', bracket_hash=hashidEncode(bracket.id)) }}">{{ bracket.name }}</a></li>
                  {% endfor %}
                </ul>
              </li>
              <li role="presentation" class="dropdown {% if active_page == 'edit' and not parent_flag %}active{% endif %}">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                  My Picks <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  {% for bracket in g.user.user_brackets %}
                    <li><a href="{{ url_for('edit', bracket_hash=hashidEncode(bracket.id)) }}">{{ bracket.name }}</a></li>
                  {% endfor %}
                </ul>
              </li>
              <li role="presentation">
                <a href="{{ url_for('logout') }}">Logout</a>
              </li>
            {% else %}
              <li role="presentation"
              {% if active_page == 'register' %}
                class="active" ><a href="{{ url_for('register') }}">Sign Up</a>
              {% else %}
                ><a href="{{ url_for('register') }}">Sign Up</a>
              </li>
              {% endif %}
              <li role="presentation"
              {% if active_page == 'login' %}
                class="active" ><a href="{{ url_for('login') }}">Login</a>
              {% else %}
                ><a href="{{ url_for('login') }}">Login</a>
              </li>
              {% endif %}
            {% endif %}
          </ul>
        </nav>
        <h3 class="text-muted">
          <img src="{{ url_for('static', filename='img/logo.png') }}" width="48" height="48" class="d-inline-block align-top" alt="">
          &nbsp;&nbsp;Baby Brackets
        </h3>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        {% block content %}{% endblock %}
      </div>
    </div>
    <footer class="footer">
      <div class="container-fluid">
        <p class="text-muted">Baby Brackets 2017  <a href="mailto:baby.brackets@gmail.com"> Contact Us</a></p>
      </div>
    </footer>
  </body>
</html>
