<!-- extend base layout -->
{% extends "base.html" %}
{% set active_page = "edit" %}
{% block content %}
{% include 'flash.html' %}
<style>
/*
 *  Flex Layout Specifics
*/
main{
  display:flex;
  flex-direction:row;
}
.round{
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:200px;
  list-style:none;
  padding:0;
}
  .round .spacer{ flex-grow:1; }
  .round .spacer:first-child,
  .round .spacer:last-child{ flex-grow:.5; }

  .round .game-spacer{
    flex-grow:1;
  }

/*
 *  General Styles
*/
body{
  font-family:sans-serif;
  font-size:small;
  padding:10px;
  line-height:1.4em;
}

li.game{
  padding-left:20px;
}

  li.game.winner{
    font-weight:bold;
    color: #337ab7;
  }
  /*li.game span{
    float:right;
    margin-right:5px;
  }*/

  li.game-top{
    border-bottom:1px solid #aaa;
    cursor:pointer;
  }

  li.game-spacer{
    border-right:1px solid #aaa;
    min-height:40px;
  }

  li.game-bottom{
    border-top:1px solid #aaa;
    cursor:pointer;
  }
</style>
{% if parent_flag %}
<div id="end-btn" class="row">
  <div class="col-md-offset-5 col-md-2">
    <a href="{{ url_for('complete', bracket_hash=hashidEncode(round1[0].bracket.id)) }}" class="btn btn-primary" role="button">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;End Pool&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
  </div>
</div>
{% endif %}

<div class="row">
  <div class="col-md-5">
    <h3>
      {{ round1[0].bracket.name }}
      <a href="{{ url_for('leaderboard', bracket_hash=hashidEncode(round1[0].bracket.id)) }}" class="btn btn-primary" role="button">Leaderboard</a>
    </h3>
  </div>
</div>
<main id="tournament">
	<ul class="round round-1">
		<li class="spacer">&nbsp;</li>
    {% for match in round1 %}
      <li class="game game-top {% if match.winner == match.name1|default('', true) %}winner{% endif %}" data-bracketid="{{match.bracket_id}}" data-matchid="{{match.match_id}}" data-nameid="{{match.name1_id}}" data-name="{{match.name1}}" data-seed="{{match.name1.seed}}"><span class="badge">{{ match.name1.seed|default('', true) }}</span> {{ match.name1|default('-', true) }}</li>
  		<li class="game game-spacer">&nbsp;</li>

      <li class="game game-bottom {% if match.winner == match.name2|default('', true) %}winner{% endif %}" data-bracketid="{{match.bracket_id}}" data-matchid="{{match.match_id}}" data-nameid="{{match.name2_id}}" data-name="{{match.name2}}" data-seed="{{match.name2.seed}}"><span class="badge">{{ match.name2.seed|default('', true) }}</span> {{ match.name2|default('-', true) }}</li>
  		<li class="spacer">&nbsp;</li>
    {% endfor %}
	</ul>
	<ul class="round round-2">
    <li class="spacer">&nbsp;</li>
    {% for match in round2 %}
    <li class="game game-top {% if match.winner == match.name1|default('', true) %}winner{% endif %}" data-bracketid="{{match.bracket_id}}" data-matchid="{{match.match_id}}" data-nameid="{{match.name1_id}}" data-name="{{match.name1}}" data-seed="{{match.name1.seed}}"><span class="badge">{{ match.name1.seed|default('', true) }}</span> {{ match.name1|default('-', true) }}</li>
    <li class="game game-spacer">&nbsp;</li>

    <li class="game game-bottom {% if match.winner == match.name2|default('', true) %}winner{% endif %}" data-bracketid="{{match.bracket_id}}" data-matchid="{{match.match_id}}" data-nameid="{{match.name2_id}}" data-name="{{match.name2}}" data-seed="{{match.name2.seed}}"><span class="badge">{{ match.name2.seed|default('', true) }}</span> {{ match.name2|default('-', true) }}</li>
    <li class="spacer">&nbsp;</li>
    {% endfor %}
	</ul>
	<ul class="round round-3">
    <li class="spacer">&nbsp;</li>
    {% for match in round3 %}
    <li class="game game-top {% if match.winner == match.name1|default('', true) %}winner{% endif %}" data-bracketid="{{match.bracket_id}}" data-matchid="{{match.match_id}}" data-nameid="{{match.name1_id}}" data-name="{{match.name1}}" data-seed="{{match.name1.seed}}"><span class="badge">{{ match.name1.seed|default('', true) }}</span> {{ match.name1|default('-', true) }}</li>
    <li class="game game-spacer">&nbsp;</li>

    <li class="game game-bottom {% if match.winner == match.name2|default('', true) %}winner{% endif %}" data-bracketid="{{match.bracket_id}}" data-matchid="{{match.match_id}}" data-nameid="{{match.name2_id}}" data-name="{{match.name2}}" data-seed="{{match.name2.seed}}"><span class="badge">{{ match.name2.seed|default('', true) }}</span> {{ match.name2|default('-', true) }}</li>
    <li class="spacer">&nbsp;</li>
    {% endfor %}
	</ul>
	<ul class="round round-4">
    <li class="spacer">&nbsp;</li>
    {% for match in round4 %}
    <li class="game game-top {% if match.winner == match.name1|default('', true) %}winner{% endif %}" data-bracketid="{{match.bracket_id}}" data-matchid="{{match.match_id}}" data-nameid="{{match.name1_id}}" data-name="{{match.name1}}" data-seed="{{match.name1.seed}}"><span class="badge">{{ match.name1.seed|default('', true) }}</span> {{ match.name1|default('-', true) }}</li>
    <li class="game game-spacer">&nbsp;</li>

    <li class="game game-bottom {% if match.winner == match.name2|default('', true) %}winner{% endif %}" data-bracketid="{{match.bracket_id}}" data-matchid="{{match.match_id}}" data-nameid="{{match.name2_id}}" data-name="{{match.name2}}" data-seed="{{match.name2.seed}}"><span class="badge">{{ match.name2.seed|default('', true) }}</span> {{ match.name2|default('-', true) }}</li>
    <li class="spacer">&nbsp;</li>
    {% endfor %}
	</ul>
	<ul class="round">
    <li class="game champ winner"><span class="badge">{{ round4[0].winner.seed|default('', true) }}</span> {{ round4[0].winner|default('', true) }}</li>
	</ul>
</main>
<div class="row">
  <div class="col-md-5">
    <div class="input-group copyGroup">
      <span class="input-group-addon">Share link</span>
      <input type="text" class="form-control" aria-describedby="basic-addon2" id="copyTarget" value="http://babybrackets.pythonanywhere.com/pool/{{ bracket_hash }}">
      <span class="input-group-btn copyButton" id="basic-addon2"><button class="btn btn-default" type="button" data-container="body" data-toggle="popover" data-placement="right" data-content="Link copied to clipboard!"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span></button></span>
    </div>
  </div>
</div>
<div class="row">&nbsp;</div>
{# make sure pool is still open by checking if parent bracket is not complete or if parent, current bracket is not complete #}
{% if parent_flag or not round1[0].bracket.scoring_bracket.completed %}
  {% if not round1[0].bracket.completed %}
    <script>
    function advanceName(name, seed, nameid, matchid, bracketid) {
      // logic for 16 team tournament advancement
      // defines next match to insert winner, id of that match
      // and whether it is the top (1) or bottom (2) team
      if (matchid == 1) {
        nextgame = $('li.game-top[data-matchid=9]');
        nextid = 9;
        nextTopOrBottom = 1;
      } else if (matchid == 5) {
        nextgame = $('li.game-bottom[data-matchid=9]');
        nextid = 9;
        nextTopOrBottom = 2;
      } else if (matchid == 2) {
        nextgame = $('li.game-top[data-matchid=10]');
        nextid = 10;
        nextTopOrBottom = 1;
      } else if (matchid == 6) {
        nextgame = $('li.game-bottom[data-matchid=10]');
        nextid = 10;
        nextTopOrBottom = 2;
      } else if (matchid == 3) {
        nextgame = $('li.game-top[data-matchid=11]');
        nextid = 11;
        nextTopOrBottom = 1;
      } else if (matchid == 7) {
        nextgame = $('li.game-bottom[data-matchid=11]');
        nextid = 11;
        nextTopOrBottom = 2;
      } else if (matchid == 4) {
        nextgame = $('li.game-top[data-matchid=12]');
        nextid = 12;
        nextTopOrBottom = 1;
      } else if (matchid == 8) {
        nextgame = $('li.game-bottom[data-matchid=12]');
        nextid = 12;
        nextTopOrBottom = 2;
      } else if (matchid == 9) {
        nextgame = $('li.game-top[data-matchid=13]');
        nextid = 13;
        nextTopOrBottom = 1;
      } else if (matchid == 10) {
        nextgame = $('li.game-bottom[data-matchid=13]');
        nextid = 13;
        nextTopOrBottom = 2;
      } else if (matchid == 11) {
        nextgame = $('li.game-top[data-matchid=14]');
        nextid = 14;
        nextTopOrBottom = 1;
      } else if (matchid == 12) {
        nextgame = $('li.game-bottom[data-matchid=14]');
        nextid = 14;
        nextTopOrBottom = 2;
      } else if (matchid == 13) {
        nextgame = $('li.game-top[data-matchid=15]');
        nextid = 15;
        nextTopOrBottom = 1;
      } else if (matchid == 14) {
        nextgame = $('li.game-bottom[data-matchid=15]');
        nextid = 15;
        nextTopOrBottom = 2;
      } else if (matchid == 15) {
        nextgame = $('li.champ');
        nextid = 0;
        nextTopOrBottom = 0;
        $('#end-btn').show();
      }
      // insert winner into next match and update data attributes
      nextgame.html('<span class="badge">' + seed + '</span> ' + name)
        .data('name', name)
        .data('nameid', nameid);
      // AJAX post to api endpoint with data tp update database
      $.post('/api/edit', { bracket_id: bracketid, match_id: matchid, winner_id: nameid, next_id: nextid, next_Top_Or_Bottom: nextTopOrBottom });
    }
    $( document ).ready(function() {
      // hide end pool button unless completed
      {% if round4[0].winner is none %}
      $('#end-btn').hide();
      {% endif %}
      // click event listener for each name in bracket
      $('li.game.game-top, li.game.game-bottom').click(function() {
        var name = $(this).data('name');
        var seed = $(this).data('seed');
        var nameid = $(this).data('nameid');
        var matchid = $(this).data('matchid');
        var bracketid = $(this).data('bracketid');
        advanceName(name, seed, nameid, matchid, bracketid);
        // remove winner class from other name if present for formatting
        $('li.game[data-matchid='+matchid+']').removeClass('winner');
        // add winner class to clicked name to format bold and color
        $(this).addClass('winner')
      });
      // copy share link text to clipboard
      $('span.copyButton').click(function() {
        $('#copyTarget').focus().select()
        document.execCommand("copy");
      });
      $('.btn').popover();
    });
    </script>
  {% else %}
    <script>
      $('#end-btn').hide();
    </script>
  {% endif %}
{% endif %}
{% endblock %}
