{% extends "base.html" %}
{% set active_page = "howto" %}
{% block content %}
  {% include 'flash.html' %}
  <div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#parent" aria-controls="parent" role="tab" data-toggle="tab">Parent</a></li>
      <li role="presentation"><a href="#fnf" aria-controls="fnf" role="tab" data-toggle="tab">Family or Friend</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="parent">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="thumbnail">
              <div class="caption">
                <h3><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Click here to get started by creating a bracket to score your pool</h3>
              </div>
              <img src="{{ url_for('static', filename='img/parenthowto/tocreate.png') }}" alt="...">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="thumbnail">
              <div class="caption">
                <h3><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Name your bracket and the pool</h3>
              </div>
              <img src="{{ url_for('static', filename='img/parenthowto/name.png') }}" alt="...">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="thumbnail">
              <div class="caption">
                <h3><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Pick the names in contention to set up your bracket</h3>
                <p>Names are divided into 4 regions and seeded 1-4 in each region. The first round is seeds 1 vs. 4 and seeds 2 vs. 3 in each region.
                   Fill in only as many names as you like - the rest can be chosen at random by clicking <kbd>Randomly Fill the Rest</kbd></p>
              </div>
              <img src="{{ url_for('static', filename='img/parenthowto/pick.png') }}" alt="...">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="thumbnail">
              <div class="caption">
                <h3><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Share your bracket to start your pool</h3>
                <p>Send your custom link to friends and family to invite them to join your baby name pool and compete to see who can guess which name you pick!</p>
              </div>
              <img src="{{ url_for('static', filename='img/parenthowto/shareit.png') }}" alt="...">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="thumbnail">
              <div class="caption">
                <h3><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> When you're ready to select your baby's name, click here to find your bracket</h3>
              </div>
              <img src="{{ url_for('static', filename='img/parenthowto/tosetup.png') }}" alt="...">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="thumbnail">
            <div class="caption">
              <h3><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Pick your Baby's name</h3>
            </div>
              <img src="{{ url_for('static', filename='img/parenthowto/pool.png') }}" alt="...">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="thumbnail">
              <div class="caption">
                <h3><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> When you're ready, end the pool to see the results</h3>
                <p>This option is only available once you have selected a name in every matchup</p>
              </div>
              <img src="{{ url_for('static', filename='img/parenthowto/end.png') }}" alt="...">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="thumbnail">
              <div class="caption">
                <h3><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> The option to check the leaderboard becomes available once you end your pool</h3>
              </div>
              <img src="{{ url_for('static', filename='img/parenthowto/toleaderboard.png') }}" alt="...">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="thumbnail">
              <div class="caption">
                <h3><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Check the leaderboard and see how everyone did</h3>
                <p>Each round is worth 8 points. <code>Round 1</code>: 8 games x 1 pt
                  <code>Round 2</code>: 4 games x 2 pts
                  <code>Round 3</code>: 2 games x 4 pts
                  <code>Round 4</code>: 1 game x 8 pts</p>
              </div>
              <img src="{{ url_for('static', filename='img/parenthowto/leaderboard.png') }}" alt="...">
            </div>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="fnf">
        <ul class="list-group">
          <li class="list-group-item">Get a link from the lucky parents</li>
          <li class="list-group-item">Pick a name for each head-to-head name matchup</li>
          <li class="list-group-item">Wait for the parent's to decide on a name</li>
          <li class="list-group-item">Check the leaderboard and see how you did</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
