{% extends "base.html" %}
{% set active_page = "index" %}
{% block content %}
  {% include 'flash.html' %}
  <style>
  .jumbotron {
      margin-bottom: 0px;
      background-image: url("{{ url_for('static', filename='img/alona-kraft-225905.jpg') }}");
      background-position: 0% 25%;
      background-size: cover;
      background-repeat: no-repeat;
      color: white;
      height: auto;
      /*text-shadow: black 0.3em 0.3em 0.3em;*/
  }
  </style>
  <div class="col-md-12">
    {% if g.user.is_authenticated %}
    <div class="col-md-offset-3 col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-offset-2 col-md-8">

            <div class="btn-group btn-group-justified" role="group" aria-label="...">
              <div class="btn-group" role="group">
                <a href="{{ url_for('create') }}" class="btn btn-primary btn-lg" role="button">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create a Bracket Pool
                </a>
              </div>
            </div>
            <br/>

            <div class="btn-group btn-group-justified" role="group" aria-label="...">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> My Bracket Pools <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  {% for bracket in g.user.parent_brackets.filter_by(user_id=None) %}
                    <li><a href="{{ url_for('edit', bracket_hash=hashidEncode(bracket.id)) }}">{{ bracket.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <br/>

            <div class="btn-group btn-group-justified" role="group" aria-label="...">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> My Brackets <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  {% for bracket in g.user.user_brackets %}
                    <li><a href="{{ url_for('edit', bracket_hash=hashidEncode(bracket.id)) }}">{{ bracket.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    {% else %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-6">
          <h1>Baby Brackets</h1>
          <p>Let your friends and family compete to see who can guess what the
            lucky parents-to-be name the newest addition to their family...
            NCAA Tournament style.</p>
          <p>It's fantasy sports for baby naming!</p>
          <p>
            <a href="{{ url_for('register') }}" class="btn btn-primary btn-large">Sign up now!</a>
          </p>
        </div>
      </div>
    </div>
    {% endif %}
    <div class="row">&nbsp;</div>
    <!-- <div class="row">
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Parents</h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Family & Friends</h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Results</h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
        </div>
      </div>
    </div> -->
  </div>
{% endblock %}
