<!-- extend base layout -->
{% extends "base.html" %}
{% set active_page = "view" %}
{% block content %}
{% include 'flash.html' %}
<style>
/*
 *  Flex Layout Specifics
*/
main{
  display:flex;
  flex-direction:row;
}
.round{
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:200px;
  list-style:none;
  padding:0;
}
  .round .spacer{ flex-grow:1; }
  .round .spacer:first-child,
  .round .spacer:last-child{ flex-grow:.5; }

  .round .game-spacer{
    flex-grow:1;
  }

/*
 *  General Styles
*/
body{
  font-family:sans-serif;
  font-size:small;
  padding:10px;
  line-height:1.4em;
}

li.game{
  padding-left:20px;
}

  li.game.winner{
    font-weight:bold;
    color: #337ab7;
  }
  li.game span{
    float:right;
    margin-right:5px;
  }

  li.game-top{
    border-bottom:1px solid #aaa;
  }

  li.game-spacer{
    border-right:1px solid #aaa;
    min-height:40px;
  }

  li.game-bottom{
    border-top:1px solid #aaa;
  }
</style>
<div class="row">
  <div class="col-md-5">
    <h3>
      {{ round1[0].bracket.name }}
      <a href="{{ url_for('leaderboard', bracket_hash=hashidEncode(round1[0].bracket.id)) }}" class="btn btn-primary" role="button">Leaderboard</a>
    </h3>
  </div>
</div>
<main id="tournament">
	<ul class="round round-1">
		<li class="spacer">&nbsp;</li>
    {% for match in round1 %}
      <li class="game game-top {% if match.winner == match.name1|default('', true) %}winner{% endif %}" data-bracketid="{{match.bracket_id}}" data-matchid="{{match.match_id}}" data-nameid="{{match.name1_id}}" data-name="{{match.name1}}">{{ match.name1|default('', true) }} <span class="glyphicon glyphicon-heart" aria-hidden="true"></span></li>
  		<li class="game game-spacer">&nbsp;</li>

      <li class="game game-bottom {% if match.winner == match.name2|default('', true) %}winner{% endif %}" data-bracketid="{{match.bracket_id}}" data-matchid="{{match.match_id}}" data-nameid="{{match.name2_id}}" data-name="{{match.name2}}">{{ match.name2|default('', true) }} <span class="glyphicon glyphicon-heart" aria-hidden="true"></span></li>
  		<li class="spacer">&nbsp;</li>
    {% endfor %}
	</ul>
	<ul class="round round-2">
    <li class="spacer">&nbsp;</li>
    {% for match in round2 %}
    <li class="game game-top {% if match.winner == match.name1|default('', true) %}winner{% endif %}" data-bracketid="{{match.bracket_id}}" data-matchid="{{match.match_id}}" data-nameid="{{match.name1_id}}" data-name="{{match.name1}}">{{ match.name1|default('', true) }} <span class="glyphicon glyphicon-heart" aria-hidden="true"></span></li>
    <li class="game game-spacer">&nbsp;</li>

    <li class="game game-bottom {% if match.winner == match.name2|default('', true) %}winner{% endif %}" data-bracketid="{{match.bracket_id}}" data-matchid="{{match.match_id}}" data-nameid="{{match.name2_id}}" data-name="{{match.name2}}">{{ match.name2|default('', true) }} <span class="glyphicon glyphicon-heart" aria-hidden="true"></span></li>
    <li class="spacer">&nbsp;</li>
    {% endfor %}
	</ul>
	<ul class="round round-3">
    <li class="spacer">&nbsp;</li>
    {% for match in round3 %}
    <li class="game game-top {% if match.winner == match.name1|default('', true) %}winner{% endif %}" data-bracketid="{{match.bracket_id}}" data-matchid="{{match.match_id}}" data-nameid="{{match.name1_id}}" data-name="{{match.name1}}">{{ match.name1|default('', true) }} <span class="glyphicon glyphicon-heart" aria-hidden="true"></span></li>
    <li class="game game-spacer">&nbsp;</li>

    <li class="game game-bottom {% if match.winner == match.name2|default('', true) %}winner{% endif %}" data-bracketid="{{match.bracket_id}}" data-matchid="{{match.match_id}}" data-nameid="{{match.name2_id}}" data-name="{{match.name2}}">{{ match.name2|default('', true) }} <span class="glyphicon glyphicon-heart" aria-hidden="true"></span></li>
    <li class="spacer">&nbsp;</li>
    {% endfor %}
	</ul>
	<ul class="round round-4">
    <li class="spacer">&nbsp;</li>
    {% for match in round4 %}
    <li class="game game-top {% if match.winner == match.name1|default('', true) %}winner{% endif %}" data-bracketid="{{match.bracket_id}}" data-matchid="{{match.match_id}}" data-nameid="{{match.name1_id}}" data-name="{{match.name1}}">{{ match.name1|default('', true) }} <span class="glyphicon glyphicon-heart" aria-hidden="true"></span></li>
    <li class="game game-spacer">&nbsp;</li>

    <li class="game game-bottom {% if match.winner == match.name2|default('', true) %}winner{% endif %}" data-bracketid="{{match.bracket_id}}" data-matchid="{{match.match_id}}" data-nameid="{{match.name2_id}}" data-name="{{match.name2}}">{{ match.name2|default('', true) }} <span class="glyphicon glyphicon-heart" aria-hidden="true"></span></li>
    <li class="spacer">&nbsp;</li>
    {% endfor %}
	</ul>
</main>
{% endblock %}
